# Rename this file to .env (keep it out of version control)

APP_ID=cda3e48e9ef64fc58b8ab03cbd85222e
APP_CERT=394037538d414d3fb7a9cb4983701219

# Token expiry time in seconds (default 3600 = 1 h)
DEFAULT_TTL=3600

# Port the server will listen on
PORT=8080 